@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500&family=Roboto:wght@300&display=swap');


.startButton {
    width: 437px;
    height: 138.2px;
    border-radius: 10px;
    border:0;


    background: #D7DEE4;

    filter: drop-shadow(0px 4px 4px rgba(40, 45, 54, 0.3));
}

.resetButton {
    width: 437px;
    height: 45px;
    border-radius: 10px;
    border:0;
    margin-top: 15pt;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    background: #D7DEE4;

    filter: drop-shadow(0px 4px 4px rgba(40, 45, 54, 0.3));

    font-family: Roboto;
    color: #C6C8CD;

}

.buttonBar {
    display: flex;
    flex-direction: column;
    margin-top: 19px;
    align-items: center;
}