.startButton {
    width: 437px;
    height: 138.2px;
    border-radius: 10px;
    border:0;

    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 54px;
    text-align: center;

    filter: drop-shadow(0px 4px 4px rgba(40, 45, 54, 0.3));
}

.resetButton {
    width: 437px;
    height: 45px;
    border-radius: 10px;
    border:0;
    margin-top: 20pt;

    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    filter: drop-shadow(0px 4px 4px rgba(40, 45, 54, 0.3));
}

.buttonBar {
    display: flex;
    flex-direction: column;

}